%h1 Collections#new
%p Find me in app/views/collections/new.html.haml
- provide(:title, "Crear Factura Nueva")
%h1 Crear Una Factura Nueva de Cheque Rebotado
.row
  %div{:class => "span6 offset3"}
    - if cookies[:current_debtor].blank?
      %select
        -list_debtors.each do |debtor|
          %option 
            = debtor
    /end        
    =form_for(@collection) do |f|
      = render 'shared/error_messages'
      =f.label :internal_invoice_number
      =f.text_field :internal_invoice_number
      =f.label :amount_owed
      =f.text_field :amount_owed    
      =f.label :bounced_check_bank
      =f.text_field :bounced_check_bank
      =f.label :bounced_check_number
      =f.text_field :bounced_check_number
      =f.label :notes
      =f.text_field :notes
      =f.submit "Crear Factura", class: "btn btn-large btn-primary"
  /end  

