- provide(:title, "Record de la Factura")
%h1 Factura:
.row
  %aside.span4
    %section
      %h5
        -if @debtor
          = @debtor.name
          ="   |  Persona Contacto: "
          = @debtor.contact_person
        /end  
      %p
        - if @debtor and @debtor.collections.any?
          %h4
            Facturas:
          %ol.microposts
            = render @collections #renders the partial
        /end