- provide(:title, "Como Usar RucPoc")
%h1 Como Usar RucPoc
  
%p 
  RucPoc requiere que el usuario este inscrito y logged in. 
  El browser se recordara de la persona por dos dias asi que por favor haga logout si comparte la computadora.
  
  