- provide(:title, "Registro Único de Cuentas Por Cobrar")
%div{ :class => 'center hero-unit'}
  %h1 Bienvenido a RucPoc
  
  %h2 
    Esta es la página home.
    
  %a{:href => login_path, :class => "btn btn-large btn-primary"}
    Log in
  /