-#coding: utf-8
- provide(:title, "Crear Nuevo Usuario")
%h1 Crear Usuario Nuevo

.row
  %div{:class => "span6 offset3"}
    =form_for(@user) do |f|
      = render partial: 'shared/error_messages', :locals => { :object => f.object }
      =f.label :email
      =f.email_field :email
      =f.label :password
      -#f.text_field :password
      =f.password_field :password
      =f.label :password_confirmation, "Confirmar Password"
      =f.password_field :password_confirmation
      =f.submit "Crear Nuevo Usuario", class: "btn btn-large btn-primary"
  /  
      
